*{
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------Navigation bar------------------------------------- */

/* Navigation bar container */
.navbar {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    cursor: pointer;
}

/* .logo */
.logo h3 {
    color: black;
}

/* list */
.nav-list {
    /* background-color:black; */
    width: 84%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-family: 'Baloo Thambi 2', cursive;
}

.nav-list li a:hover {
    color: grey;
}

/* rightNav -  icons */

.rightNav {
    margin-left: auto;
    display: flex;
    text-align: right;
}

/* Hamburger */
.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20px;
}

.line {
    width: 30px;
    background-color: black;
    height: 4px;
    margin: 4px 3px;
}

 /* ========================================================================== */
/* --------------------------------section-1---------------------------------------------------- */
        #section-1 {
            display: flex;
            height: 50.5vh;
            align-items: flex-end;
        }

        /* ---Image--- */
        #section-1::before {
            content: "";
            background: url('1.jpg') no-repeat center center/cover;
            position: absolute;
            left: 0px;
            height: 50.5%;
            width: 100%;
            z-index: -1;
            opacity: 0.9;
        }


        /* ---Text over img---    */
        #box1 {
            display: inline-block;
            padding: 10px 82px;
            background-color: #4a2a97;
            margin-top: auto;
            margin-left: 30px;
            border-radius: 10px;
            color: white;
        }

        .secondary-text {
            font-size: 1.3rem;
        }

/* =================================================================================================== */

/* ------------------------------------section-2---------------------------------------------------- */
#section-2 {
    display: flex;
    margin-top: 40px;
}

.support-card {
    box-shadow: 0px 0px 14px #b7b0b0;
    width: 74vw;

}

.support-card-box {
    margin: 0px 30px;
    border: 2px solid white;
}

/* support-card-heading */
.support-card-head {
    margin-top: 20px;
}

.support-card-head h4 {
    text-align: center;
    font-weight: bold;
}

.support-card-head p {
    text-align: center;
    font-size: 1.1rem;
}

/* support-card-img */

.support-card-img img {
    display: block;
}

/* support-card-number */
.support-card-number p {
    margin-top: 10px;
    text-align: center;
}

/* support-card-icon */
.support-card-icon {
    text-align: center;
}

.support-card-icon i {
    color: #4a2a97;
    padding: 0px 10px;

}



/* ---Contact Us----- */
.contact-us {
    margin: 0px 25px;
}

.contact-us p {
    margin-top: 20px;
}

/* ---contact form--- */
.contact-us-form {
    margin-top: 50px;
}

.message {
    margin: 20px 0px;
    width: 100%;
    padding: 5px;
}

.Submit-btn {
    padding: 5px 20px;
    background-color: #4a2a97;
    color: white;
    margin-top: 20px;
}


/* =================================================================================================== */
/* ------------------------------------section-3---------------------------------------------------- */

#section-3 {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}

.section-3-left {
    /* border: 2px solid red; */
    margin: 25px;
    background-color: gainsboro;
    width: 75%;
}

.section-3-left p {
    text-align: center;
    vertical-align: bottom;
}

.section-3-right {
    /* border: 2px solid red; */
    margin: 30px;
}

.question p {
    margin-left: 30px;
}

/* =================================================================================================== */
/* ------------------------------------section-4---------------------------------------------------- */
#section-4 {
    background-color: rgb(247 247 247 / 1);
    /* border: 2px solid rebeccapurple; */
}

.profile-1 {
    /* border: 2px solid red; */
    padding: 40px 0px;
    display: inline-block;
    width: 31.8%;
}

.profile-2 {
    /* border: 2px solid red; */
    padding: 40px 0px;
    display: inline-block;
    width: 32.8%;
}

.profile-3 {
    /* border: 2px solid red; */
    padding: 40px 0px;
    display: inline-block;
    width: 32.8%;
}

/* .card-1 {
    width: 435px;
} */

.col img {
    border-radius: 50%;
    width: 60%;
    margin: 0px 44px;
}


.profile-title {
    font-weight: bold;
}

.profile-title p {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(126, 118, 118);
}


.profile-number {
    margin-top: 10px;
    font-weight: bold;
}

.profile-icon i {
    color: #4a2a97;
    padding-right: 10px;
}


/* =================================================================================================== */
/* ------------------------------------section-5---------------------------------------------------- */
#section-5 {
           
    display: flex;
    background: rgb(19, 18, 24);
    color: white;
    flex-wrap: wrap;
}

.section-5-1 {
   
    padding: 35px 20px;
    width: 50%;
}

.section-5-1 h6 {
    font-weight: bold;
}

.section-5-2 {

    width: 30%;
    padding: 35px 20px;
}

.product {
    display: flex;
    margin: 15px 0px;
}

.product img {
    border-radius: 10%;
}

.icon {
    margin: 12px 30px;
}

.icon i {
    color: rgb(8, 248, 48);
}

.section-5-3 {
    /* border: 2px solid red; */
    padding: 35px 20px;
    width: 20%;
}

.contact-btn {
    background-color: rgb(8, 248, 48);
    color: white;
    font-weight: bold;
}

/* ----------------------------footer---------------------------- */
footer {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
 
}

.footer-section {
    
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

/* ---copyright--- */
.footer-section-text {
    padding: 10px 20px;
    display: flex;
}

/* ---list--- */

.footer-section ul {
    display: flex;
    padding: 10px 10px;
    
}

.footer-section li {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item {
    padding: 0px 20px;
}

/* ---icon--- */
.footer-section i {
    margin: 0px 10px;
    color: white;
}

.footer-icon {
 
    padding: 10px 20px;
    margin-left: auto;
}

























/* ========================================================================================================= */
/* --------------------------------------------------------Responsive------------------------------------------------ */

        /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .nav-list {
        width: 79%;
    }

    .rightNav {
        width: 45%;
    }

    /* ----------------section-2----------- */
    .support-card {
        width: 35vw;
    }

    .support-card-box {
        margin: 0px 10px;
    }

    .contact-us {
        margin: 0px 15px;
        width: 80%;
    }


}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        transition: all 10s ease-in;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 86px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .rightNav {
        width: 60%;

    }

    .rightNav .form-inline {
        margin: auto;

    }

    .rightNav {
        width: 100%;
    }

        /* ----------------section-2----------- */
        .support-card {
            width: 30vw;

        }

        .support-card-box {
            margin: 0px 10px;

        }

        .contact-us {
            margin: 0px 15px;
            width: 65%;
        }

        /* ----------------section-4----------- */
        .profile-1 {

            padding: 40px 0px;
            display: inline-block;
            width: 49%;
        }

        .profile-2 {

            padding: 40px 0px;
            display: inline-block;
            width: 50%;
        }

        .profile-3 {

            border-top-style: solid;
            border-top-color: black;
            border-top-width: 1px;
            padding: 40px 0px;
            display: block;
            width: 80%;
            margin: auto;
        }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        transition: all 10s ease-in;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 86px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .rightNav {
        width: 100%;

    }

    .rightNav .form-inline {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .nav-list {
        width: 50%;
    }

    .rightNav {
        /* border: 2px solid blue; */
        width: 100%;
    }

        /* ----------------section-2----------- */
        .support-card {
            width: 30vw;
        }

        .support-card-box {
            margin: 0px 10px;

        }

        .contact-us {
            margin: 0px 15px;
            width: 65%;
        }

        /* ----------------section-4----------- */
            .profile-1 {

                padding: 40px 0px;
                display: inline-block;
                width: 49%;
            }

            .profile-2 {

                padding: 40px 0px;
                display: inline-block;
                width: 50%;
            }

            .profile-3 {

                border-top-style: solid;
                border-top-color: black;
                border-top-width: 1px;
                padding: 40px 0px;
                display: block;
                width: 80%;
                margin: auto;
            }

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        transition: all 10s ease-in;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 86px;
    }

    .v-class-resp {
        opacity: 0;
        width: auto;
    }

    .rightNav {
        width: 80%;

    }

    .rightNav .form-inline {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .nav-list {
        width: 60%;
    }

    /* -----------------------------section-1-------------------------- */
    #box1 {
        padding: 0px 30px;
    }

        /* ----------------section-2----------- */
        #section-2 {

            display: flex;
            flex-wrap: wrap;
        }

        .support-card {

            margin: auto;
            width: 55vw;

        }

        .contact-us {
            margin: 20px 15px;
            width: 100%;
        }

        .contact-us-form {
            margin-top: 10px;
        }

        /* ---------------------------Section-3---------------------------------- */
        #section-3 {
            display: flex;
            flex-wrap: wrap;
        }

        .section-3-left {
            background-color: gainsboro;
            width: 75%;
            height: 25vh;
            display: block;
            margin: auto;
        }
        
        /* ---------------------------Section-4---------------------------------- */
        .profile-1 {
            border-top-style: solid;
            border-top-color: black;
            border-top-width: 1px;
            padding:10px 0px;
            display: block;
            width: 80%;
            margin: auto;

        }

        
        .profile-2 {
            border-top-style: solid;
            border-top-color: black;
            border-top-width: 1px;
            padding:10px 0px;
            display: block;
            width: 80%;
            margin: auto;
        }
        
        .profile-3 {
            
            border-top-style: solid;
            border-top-color: black;
            border-top-width: 1px;
            padding:10px 0px;
            display: block;
            width: 80%;
            margin: auto;
        }
        .col img {
            border-radius: 50%;
            width: 16%;
            margin: 12px 0px;
        }


        /* ---------------------------Section-5--------------------------------- */
        .section-5-1 {
                
            padding: 35px 20px;
            width: 100%;
        }


        .section-5-2 {
            border-top-style:solid;
           border-top-width: 1px;
            width: 100%;
            padding: 35px 20px;
        }

        .section-5-3 {
            border-top-style:solid;
           border-top-width: 1px;
            padding: 35px 20px;
            width: 100%;
        }
    }

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        transition: all 10s ease-in;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 86px;
    }

    .v-class-resp {
        opacity: 0;
        width: auto;
    }


    .rightNav .form-inline {
        margin: auto;
        display: flex;
        justify-content: center;

    }

    .nav-list {
        width: 50%;
    }

    /* ----------------section-1------------------------------------------- */
    #section-1 {
        display: flex;
        height: 50.5vh;
        align-items: flex-end;
    }

    #box1 {
        padding: 0px 30px;
        display: block;
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
    }


    /* -----------------------------section-2----------------------------- */
    #section-2 {

        display: flex;
        flex-wrap: wrap;
    }

    .support-card {
        width: 90%;
        margin: auto;
    }


    .contact-us {
        margin: 20px 15px;
        width: 100%;
    }

    .contact-us-form {
        margin-top: 0px;
    }

    .Submit-btn {
        padding: 5px 20px;
        display: block;
        margin: auto;
    }

    /* ---------------------------Section-3---------------------------------- */
    #section-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .section-3-left {

        background-color: gainsboro;
        width: 75%;
        height: 25vh;
        display: block;
        margin: auto;
    }


     /* -----------------------------section-4----------------------------- */

     .profile-1 {
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 1px;
        padding:10px 0px;
        display: block;
        width: 80%;
        margin: auto;

    }

    
    .profile-2 {
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 1px;
        padding:10px 0px;
        display: block;
        width: 80%;
        margin: auto;
    }
    
    .profile-3 {
        
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 1px;
        padding:10px 0px;
        display: block;
        width: 80%;
        margin: auto;
    }
    .col img {
        border-radius: 50%;
        width: 20%;
        margin: 12px 0px;
    }  

    /* -----------------------Section-5------------------------------- */
    .section-5-1 {
               
        padding: 35px 20px;
        width: 100%;
    }


    .section-5-2 {
      
       border-top-style:solid;
       border-top-width: 1px;
        width: 100%;
        padding: 35px 20px;
    }

    .section-5-3 {
       border-top-style:solid;
       border-top-width: 1px;
        padding: 35px 20px;
        width: 100%;
    }

    .footer-icon {
        margin: auto;
    }
}