
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  

  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* ============================================================= */
/* -------------------------header ---------------------- */
.button button {
    left: 67%;
    top: 5px;
    height: 40px;
    padding: 5px 60px;
}

/* ============================================================= */
/* -------------------------Section - 2 ---------------------- */
.section-2-2 {
    width: 40%;
    right: 40px;
}
#lname {
    margin: 10px 0px;
}

.buttonIn button {
    top: 7px;
    left: 67%;
    top: 5px;
    height: 38px;
}
/* ============================================================= */
/* -------------------------Footer ----- ---------------------- */
#footer-1-1 {
    width: 30%;
}

#footer-1-3 {
    width: 47%;
}

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {


    /* ==========================================================
-------------------Header ----------------------------------- */
    .logo {
        width: 30%;
    }
    .section-1-box {
        right: 20px;    
        width: 37%; 
        top: -56px;
    }
    

    
/* ============================================================= */
/* -------------------------Section - 2 ---------------------- */
    .section-2-2 {
        /* border: 2px solid red; */
        width: 40%;
        right: 20px;
        top: -150px;
    }
    .days {
       
        margin: 20px 10px;
      
    }

        /* ============================================================= */
/* -------------------------Section - 3 ---------------------- */
.buttonIn button {
    left: 63%;
    top: 5px;
    height: 38px;
    width: 14vw;
}
    /* ============================================================= */
/* -------------------------footer---------------------- */
#footer-1-3 {
    width: 35%;
}

#footer-1-1 {
    width: 30%;
    padding: 30px 0px;
}

#footer-1-2 img {
    max-width: 63px;
    border-radius: 25px;
    padding: 10px 10px;
}

#footer-1-2 {

    padding: 20px 0px;
}
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

       /* ==========================================================
-------------------Header ----------------------------------- */
    .logo {
        
        width: 30%;
    }
    .section-1-box {
        right: 20px;
     
        width: 37%;
      
        top: -56px;
    }


/* ============================================================= */
/* -------------------------Section - 2 ---------------------- */
    .section-2-2 {
        /* border: 2px solid red; */
        width: 40%;
        right: 20px;
        top: -150px;
    }
    .days {
        margin: 20px 10px;    
    }

    #lname {
        margin: 10px 0px;    
    }
         /* ============================================================= */
/* -------------------------Section - 3 ---------------------- */
.buttonIn button {
    left: 63%;
    top: 5px;
    height: 38px;
    width: 14vw;
}
    /* ============================================================= */
/* -------------------------footer---------------------- */
#footer-1-3 {
    width: 35%;
}

#footer-1-1 {
    width: 30%;
    padding: 30px 0px;
}

#footer-1-2 img {
    max-width: 63px;
    border-radius: 25px;
    padding: 10px 10px;
}

#footer-1-2 {

    padding: 20px 0px;
}
  
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* ==========================================================
-------------------Header ----------------------------------- */
    .social-icon {
        margin: 40px 5px;
        display: inline-table;
    }
    button {
        padding: 8px 31px;
        margin: 60px 5px;
    }
    
    .logo {
        
        width: 60%;
    }
    .logo-container h1 {
        font-size: 1.8rem;
    }

/* ============================================================= */
/* -------------------------Section - 1 ---------------------- */    
    .section-1-box {
        right: 66px;
        width: 71%;
        top: -50px;
    }
    .section-1-text {
      width: 100%;
        margin: 30px;
        color: white;
        margin-top: 300px;
    }


/* ============================================================= */
/* -------------------------Section - 2 ---------------------- */
    .section-2-1 {

        margin: 20px 10px;
    }
    .section-2-2 {
        /* border: 2px solid red; */
        width: 40%;
        right: 20px;
        top: -150px;
    }
            button {
                padding: 8px 31px;
                margin: 10px 5px;
            }

    .days {
       
        margin: 20px 10px;
      
    }
    #lname {
        margin: 10px 0px;    
    }

        /* ============================================================= */
/* -------------------------Section - 3 ---------------------- */
#section-3 {
    display: flex;
    flex-wrap: wrap;
}

.section-3-1 {

    width: 80%;
    display: block;
    margin: auto;
}

.section-3-2 {

    width: 80%;
    display: block;
    margin: auto;
    padding: 20px 20px;
}

.buttonIn button {
    width: 22vw;
    left: 64%;
    top: -5px;
    height: 38px;
}


    /* ============================================================= */
/* -------------------------footer---------------------- */
#footer-1-3 {
    width: 100%;
    padding: 5px 20px;
}

#footer-1-1 {
    width: 50%;
    padding: 20px 0px;
    padding-bottom: 75px;
}

#footer-1-2 img {
    max-width: 57px;
    border-radius: 25px;
    padding: 10px 10px;
}

#footer-1-2 {
    width: 50%;
    padding: 20px 0px;

}

#footer-1 {
    display: flex;
    flex-wrap: wrap;
}

.footer-1-1-copyright {
    width: 82%;
    margin-top: 30px;
    padding: 0px 20px;
}

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
   
   
    /* ==========================================================
-------------------Header ----------------------------------- */
    #header {
        height: 60vh;
        flex-wrap: wrap-reverse;
    }
    #header::before{
        
        height: 60vh;
        
    }

    .button button {
        padding: 8px 31px;
        margin: 60px 5px;
    }
    
    .logo {
        height: 130px;
        width: 60%;
    }
    .logo-container h1 {
        font-size: 1.8rem;
    }


  /* ============================================================= */
/* -------------------------Section - 1 ---------------------- */  
    .section-1-box {
        right: 20px;
        width: 87%;
        top: -41px;
    }
    .section-1-text {
      width: 100%;
        margin: 10px;
        color: white;
        margin-top: 355px;
        text-align: center;
    }
    .section-1-text h1 {
        margin: 10px 0px;
        font-family: sans-serif;
    }
    .section-1-text p {
        margin:0px;
        
    }


   /* ============================================================= */
/* -------------------------Section - 2 ---------------------- */ 
    .section-2-1 {
width: 100%;
        margin: 20px 10px;
        margin-top: 300px;
    }
    .section-2-2 {
       
            /* border: 2px solid red; */
            width: 90%;
            right: 15px;
            top: -100px;
        
    }

    .section-2-box-content-2 {
        margin: 10px 10px;
        display: flex;
    }
        .btn    button {
                padding: 8px 31px;
                margin: 10px 5px;
            }

    .days {
        margin: 10px 10px;
    }
    #lname {
        margin: 10px 0px;    
    }
    
        /* ============================================================= */
/* -------------------------Section - 3 ---------------------- */
#section-3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.section-3-1 {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 80%;
    display: block;
    margin: auto;
}

.section-3-2 {

    width: 80%;
    display: block;
    margin: auto;
    padding: 0px 0px;
}

.buttonIn button {
    width: 26vw;
    left: 60%;
    top: 7px;
    height: 38px;
    padding: 0;
}


#enter {
    font-size: 0.7rem;
    padding-left: 10px;
}
  

    /* ============================================================= */
/* -------------------------footer---------------------- */
#footer-1-3 {
    width: 100%;
    padding: 5px 20px;
}

#footer-1-1 {
    width: 100%;
    padding: 20px 0px;
    padding-bottom: 75px;
}

#footer-1-2 img {
    max-width: 57px;
    border-radius: 25px;
    padding: 10px 10px;
}

.image {
    display: flex;
    justify-content: center;
}

#footer-1-2 {
    width: 100%;
    padding: 20px 0px;
    padding-top: 50px;
}

#footer-1 {

    display: flex;
    flex-wrap: wrap;
}

.footer-1-1-copyright {
    width: 100%;
    margin-top: 50px;
    padding: 0px 0px;
}
  }