* {
    margin: 0;
    padding: 0;
  }

  :root {
    --color: yellow;
  }

  /* ==============================================================================================
-------------------Header ----------------------------------- */
  .container {
    /* border: 2px solid red; */
    display: block;
  }

  #header {
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;

  }

  /* background img */
  #header::before {
    content: " ";
    background: url(pic1.jpg) no-repeat center center/cover;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50vh;
    z-index: -1;
  }

  /* ------------------------------------- */
  /* left-side */
  .social-icon {
    margin: 40px 20px;
    display: inline-table;
  }

  .social-icon i {
    color: var(--color);
    max-width: 70px;
    padding: 5px 5px;
  }

  .social-icon-call {
    color: var(--color);
    display: flex;
  }

  .social-icon-call p {
    padding: 0px 10px;
  }

  /* ---------------------------------------------------- */
  /* middle side */
  .logo-container {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-container h1 {
    font-family: monospace;
    margin-top: 10px;
    color: white;
    font-size: 2.8rem;

  }

  .logo {
    height: 40%;
    width: 19%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
  }

  .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68%;
    width: 100%;
    background-color: var(--color);
    font-family: cursive;
  }

  .logo i {
    display: flex;
    justify-content: center;
    margin: 5px;
  }


  .breadcrumb {
    display: block;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .breadcrumb-item.active {
    color: var(--color);
  }

  .breadcrumb-item {
    display: -ms-flexbox;
    display: flex;
  }

  .breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
  }

  a {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }

  li {
    display: list-item;
    font-weight: bold;
    font-family: sans-serif;
  }

  /* ----------------------------------------- */
  /* right-side- button */
  .button button {
    padding: 10px 60px;
    background-color: var(--color);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 60px 20px;
    outline: none;
    border: 1px solid var(--color);
  }


  /* ==================================================================================================== */
  /* ---------------------------section-1------------------------ */

  #section-1 {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: relative;

  }

  /* left side */
  .section-1-text {
    width: 50%;
    margin: 40px;
    color: white;
  }

  .section-1-text h1 {
    margin: 5px 10px;
    font-family: sans-serif;
  }

  .section-1-text p {
    margin: 18px 10px;
    font-size: 1.2rem;
    font-family: monospace;
  }


  /*---- right side box----- */
  .section-1-box {
    position: absolute;
    right: 100px;
    width: 30%;
    color: black;
    background-color: white;
    border-radius: 10px;

    top: -100px;

  }

  .section-1-box-content-1 {
    margin: 28px 30px;
  }

  /* icons */
  .section-1-box-content-icon {
    border: 2px solid var(--color);
    background-color: var(--color);
    width: 10px;
    height: 35px;
  }

  .section-1-box-content-1 .head {
    font-size: 2.4rem;
    margin: 0px 30px;
    font-family: monospace;
  }


  .section-1-box i {
    color: var(--color);
    font-size: 1.3rem;
  }

  .section-1-box-content {
    display: flex;
  }

  .section-1-box-content p {
    margin: 0px 10px;
    font-size: 1.2rem;
    font-family: monospace;
  }

  .section-1-box .second-text {
    font-weight: bold;
    margin: 3px 26px;
    font-size: 1.3rem;
    font-family: sans-serif;

  }

  /* =============================================================================================== */
  /* -------------------------Image 2 --------------------------------------------- */

  #img2 {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* background img */
  #img2::before {
    content: " ";
    background: url(pic2.jpg) no-repeat center center/cover;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 40vh;

  }

  /* =============================================================================================== */
  /* -------------------------Section - 2 --------------------------------------------- */


  #section-2 {
    display: flex;
    color: white;
    background-color: black;
    position: relative;

  }

  .section-2-1 {
    width: 50%;
    margin: 20px 40px;
  }

  .form {
    display: flex;
    margin-top: 30px;

  }

  #fname {
    width: 44%;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
  }

  #lname {
    width: 45%;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    margin: 10px 10px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
  }

  #subject {
    width: 94%;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
  }

  #textarea {
    width: 94%;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    font-size: 1rem;

  }

  button {
    background-color: whitesmoke;
    outline: none;
    /* border: 2px solid red; */
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: bold;
  }


  /* ------------------------------------ */
  /* office time */
  .section-2-2 {
    width: 30%;
    background-color: white;
    color: black;
    border-radius: 10px;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    right: 100px;
    top: -150px;
  }

  .section-2-box-content-2 {
    margin: 20px 30px;
    display: flex;
  }

  .section-2-box-content-icon {
    border: 2px solid var(--color);
    background-color: var(--color);
    width: 10px;
    height: 35px;
    display: inline-block;
  }

  .section-2-box-content-2 .head {
    font-size: 2.3rem;
    margin: 0px 30px;
    font-family: monospace;
    font-weight: bold;
  }

  .btn {
    border: 1px solid var(--color);
    background-color: var(--color);
    color: black;
    border-radius: 5px;
    cursor: pointer;
  }

  .days {
    /* border: 2px solid red; */
    border-bottom: 1px solid rgb(80, 74, 74);
    padding-bottom: 10px;
    display: flex;
    margin: 20px 30px;
    font-size: 1rem;
    font-family: cursive;
  }

  .day {
    width: 40%;
  }

  .time {
    width: 60%;
  }



  /* ==================================================================================== */
  /* -----------------------------section - 3-------------------------------------------- */
  #section-3 {
    display: flex;
    background-image: linear-gradient(to right, #ffb102d4, #FFEB3B);
  }

  .section-3-1 {
    width: 50%;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 20px;
  }

  .section-3-2 {
    padding-top: 80px;
    padding-bottom: 50px;
    padding-right: 30px;
    width: 50%;
  }


  .section-3-heading {
    font-family: sans-serif;
  }

  .section-3-1 p {
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 2.1;
  }


  .buttonIn {
    position: relative;
  }

  #enter {
    margin: 0px;
    padding: 0px;
    width: 90%;
    outline: none;
    border-radius: 3px;
    height: 8vh;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding-left: 20px;
  }

  .buttonIn button {
    position: absolute;
    top: 0;
    border-radius: 3px;
    z-index: 2;
    border: none;
    top: 7px;
    height: 42px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    background-color: #FFEB3B;
    transform: translateX(2px);
    width: 12vw;
    left: 66%;
    outline: none;
  }

  /* ==================================================================================== */
  /* -----------------------------Footer------------------------------------------------- */
  #footer-1 {
    color: white;
    display: flex;
  }


  #footer-1-1 {
    background-color: rgb(36, 33, 33);
    width: 50%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
  }

  #footer-1-1 ul li {
    list-style: none;
    font-size: 1.2rem;

  }

  #footer-1-1 ul li a {
    display: inline-block;
    color: white;

    padding: 3px 22px;
    font-family: monospace;
    text-decoration: none;
    font-size: 1.5rem;
  }


  #footer-1-2 {
    background-color: rgb(36, 33, 33);
    width: 40%;
  }

  #footer-1-2 img {
    max-width: 80px;
    border-radius: 20px;
    padding: 10px 10px;
  }


  #footer-1-3 {
    background-color: black;
    width: 50%;
    padding: 0px 20px;
    padding-top: 60px;
  }

  .contacts {
    margin: 15px 10px;
  }

  .contact-text {
    margin: 0px 20px;
  }

  .call {
    display: flex;
    color: var(--color);
  }

  .call h4 {
    font-size: 1.2rem;
    font-family: monospace;
  }

  .call p {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: system-ui;
  }


  .footer-1-1-copyright {
    background-color: rgb(36, 33, 33);
    color: white;
    width: 50%;
    position: absolute;
    margin-top: 50px;
    padding: 0px 20px;
  }

  .footer-1-1-copyright p {
    font-size: 1.3rem;
    font-family: monospace;
  }

  .footer-1-3-social {
    color: var(--color);
    margin-top: 60px;
    padding: 0px 20px;
  }

  .footer-1-3-social i {
    margin: 10px 10px;
  }

